.modal-card {
    position: relative;
    top: -100px;
    width: 80%;
    background-color: white;
    padding: 60px 60px;
    
}

.modal-card h1 {
    font: normal normal 900 24px/32px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    
}

.modal-submit {
    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
    padding: 6px 22px;
    border: none;
}

.modal-submit img { 
    margin-right: 5px;
}

.modal-card button{
    margin-top: 60px;
}

.modal-card button span {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.modal-input {
    margin-top: 60px;
    border: none;
    border-bottom: 1px solid grey;
    font: normal normal normal 14px/19px Roboto;
    letter-spacing: 0px;
    color: #7E7E7E;
    opacity: 1;
}

.modal-input:focus {
    outline: none
}

@media (min-width: 768px) {
    .modal-card {
        width: 690px;
    }
}