.category-list {
    margin-top: 45px;
    padding-left: 0;
}

.category-list-item {
    display: inline-block;
    margin-right: 10px;
    background: #EAEAEA 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
    padding: 7px 16px;
    font: normal normal medium 14px/19px Roboto;
    letter-spacing: 0px;
    color: #7E7E7E;
    opacity: 1;
    margin-top: 10px;
}

.category-list-item:hover {
    cursor: pointer;
}

.category-list-item img {
    vertical-align: unset;
}

.active-item {
    background-color: #00F0C2;
    color: #000000;
}

.search-box {
    width: 100%;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 16px #00000010;
    border: 1px solid #E5E5E5;
    border-radius: 20px;
    opacity: 1;
    font: normal normal normal 14px/19px Roboto;
    letter-spacing: 0px;
    color: #7E7E7E;
    opacity: 1;
    padding: 0 35px;
    background: url(../assets/icon_ionic-ios-search.svg) 10px 50% no-repeat padding-box;
}

input[type='text']::placeholder {
    font: normal normal normal 14px/19px Roboto;
    letter-spacing: 0px;
    color: #cfcfcf;
    opacity: 1;
}