.app-container {
  width: 100%;
}  

.header {
  margin-top: 41px;
  font: normal normal 900 40px/53px Roboto;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

@media (min-width: 768px) {
  .app-container {
    width: 500px;
  }  
}

@media (min-width: 992px) {
  .app-container {
    width: 700px;
  }  
}

@media (min-width: 1200px) {
  .app-container {
    width: 900px;
  }  
}


